.home {
  padding: 0 40px;

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #f6f6f6;
    border-radius: 25px;
    padding: 50px;
    margin-bottom: 40px;

    // Mobile : 1 colonne
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 20px;
      gap: 15px;
    }
  }

  // Mobile : padding réduit
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}